@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* University palette */
    --color-primary-50: #eef4ff;
    --color-primary-500: #1f4fa6;
    --color-primary-600: #183d82;

    --color-secondary-400: #f2c94c;

    --color-accent-500: #1f8a70;
}
